# Data lake — nunca versionar dados
lake/
dados-brutos/
*.csv
*.parquet

# Segredos
.env

# Python
__pycache__/
.ipynb_checkpoints/

# Airflow
logs/
airflow.db

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/